
IBADemoApp/.vs/IBADemoApp/v15/Server/sqlite3/db.lock
IBADemoApp/.vs/IBADemoApp/v15/Server/sqlite3/storage.ide
IBADemoApp/.vs/IBADemoApp/v15/Server/sqlite3/storage.ide-shm
IBADemoApp/.vs/IBADemoApp/v15/Server/sqlite3/storage.ide-wal
IBADemoApp/.vs/config/applicationhost.config
